name: imagecreation
on: workflow_dispatch
jobs:
    imagecreation:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v4

            - name: setup docker buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to Docker
              uses: docker/login-action@v3
              with:
                username: ${{secrets.DOCKER_USERNAME}}
                password: ${{secrets.DOCKER_PASSWORD}}
            
            - name: Build and push
              uses: docker/build-push-action@v5
              with:
                context: .
                push: true
                tags: |
                    farhan1281/user:latest
                    farhan1281/user:${{ github.sha }}